{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tag list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tag</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tag_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tag }}</td>
                <td>{{ entity.user|raw }}</td> 
                <td>
                <ul>
                    <li>
                        <a class="btn btn-default" href="{{ path('tag_show', { 'id': entity.id }) }}">show</a>
                    </li>
                   {% if entity.isOwner(app.user) %}
                            <li>
                            <a class="btn btn-default btn-sm" href="{{ path('tag_edit', { 'id': entity.id }) }}">edit</a>
                            </li>                            
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <ul>
            <li>
            <a class="btn btn-default" href="{{ path('tag_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
