{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Biblio</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Author(s)</th>
                <td>
                    {% for author in entity.authors %}
                    {{ author.firstname }} {{ author.lastname }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Pubinfo</th>
                <td>{{ entity.pubInfo|raw }}</td>
            </tr>
            <tr>
                <th>Fileformat</th>
                <td>{{ entity.fileFormat }}</td>
            </tr>
        </tbody>
    </table>

<h2>Annotations</h2>

<table class="table table-hover">
    {% for annotation in entity.annotations %}
        <tr>
            <td>{{ annotation.annotation|raw }}</td>
            <td>
                <ul>
                    <li>
                        <a class="btn btn-default" href="{{ path('annotation_edit', { 'id': annotation.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>

    <h2>Tags</h2>

        {% for tag in entity.tags %}
            <span class="label label-info">{{ tag.tag }}</span>
        {% endfor %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('biblio') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a class="btn btn-default" href="{{ path('biblio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a class="btn btn-default" href="{{ path('annotation_new', { 'biblioid': entity.id }) }}">
           Create a new Annotation
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
